/EcommerceSearchExample/nbproject/private/
/EcommerceSearchExample1/nbproject/private/
/EcommerceSearchExample1/build/
/FinancialForecasting/nbproject/private/
/FinancialForecasting1/nbproject/private/
/FinancialForecasting2/nbproject/private/
/FinancialForecasting2/build/
